html{
    font-size: 62.5%;
    /* 1rem=10px; */
    font-family: 'Inter', sans-serif;
}
* {
    box-sizing: border-box;
}
.herder{
    background-image: url(./images/Header/Rectangle\ 8\ \(9\).png);
    object-fit: cover;
}