html{
    font-size: 62.5%;
    /* 1rem=10px; */
}
* {
    box-sizing: border-box;
}
body{
    font-family: 'Inter Tight', sans-serif;
}
.container_fluid_header{
    max-width: 100%;
    height: 36rem;
    background-image: url(./images/Header/Rectangle\ 8\ \(10\).png);
    background-repeat: no-repeat;
    background-size: auto;
}
/* .header__logo{
    margin-top: 6rem;
} */
.logo_images{
    margin-left: 11.4rem;
    margin-top: 2rem;
    width: 7.8rem;
    height: 7.1rem;
}
.logo_text{
    margin-top: 2rem;
}
.contact_images{
    margin-left: 40rem;
    margin-top: -7rem;
    width: 30.8rem;
    height: 8.1rem;
}
.header__text{
    margin-left: 80rem;
    margin-top: -8rem;
}
.text_name{
    display: block;
    width: 14.5rem;
    height: 3rem;
    font-family: 'Inter Tight';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: black;
}
.text_number{
    color: #FBBA1D;
    width: 18.5rem;
    height: 2.4rem;
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.header__button{
    margin-left: 110rem;
    margin-top: -4rem;
}
.button_name{
    text-align: center; 
    text-decoration: none;
    padding: 0.8rem 3.9rem;
    color: black;
    background-color: #FBBA1D;
    width: 22.3rem;
    height: 4.1rem;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border-radius: 30px;
}
.herder__button_white{
    margin-top: 8rem;
    margin-left: 11.4rem;
}
.button_name_white{
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: white;
    padding: 0.7rem 3.5rem;
    width: 19rem;
    height: 4rem;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border-radius: 30px;
    border: 1px solid #000000;
    margin-left: 2rem;
}
.button_name_yellow{
    background-color: #FBBA1D;
}
.main_top_header{
    max-width: 100%;
    object-fit: contain;
    margin-left: 0;
}
.container_fluid_main{
    max-width: 100%;
    height: 79.4rem;
    background-image: url(./images/Main/brmain.png);
    object-fit: cover;
    margin-top: -10em;
}
.main_text{
    width: 42.7rem;
    height: 9.6rem;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin-left: 65rem;
    margin-top: 8rem;
}
.main_content{
    width: 53.5rem;
    height: 12rem;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #000000;
    margin-top: 2.8rem;
    margin-left: 65rem;
}
.main_button{
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 8px 39px;
    color: black;
    background-color: #FBBA1D;
    width: 27rem;
    height: 4rem;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border-radius: 30px;
    margin-top: 4.3rem;
    margin-left: 65rem;
    white-space: nowrap;
}
.center_button{
    text-decoration: none;
    max-width: 109rem;
    height: 31.3rem;
    background-color:#FBFBFB;
    border-radius: 81px;
    display: block;
    margin-top: 16.5rem;
    margin-left: 18.2rem;
    margin-right: 18.5rem;
    padding-top: 7.8rem;
}
.button_number{
    display: inline-block;
    font-weight: 600;
    font-size: 100px;
    line-height: 121px;
    color: #646464;
    margin-left: 8rem;
}
.button__first .button__second{
    display: inline;
}
.button_text{
    width: 24rem;
    height: 3.3rem;
    display: inline;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    margin-left: 8rem;
}
.text_second{
    margin-left: 15rem;
}
.text_thrid{
    margin-left: 14rem;
}
.global_heading{
    max-width: 41.8rem;
    height: 95px;
    margin-top: 30.3rem;
    margin-left: 11.3rem;
}
.global_text{
    max-width: 43.2rem;
    height: 18.9rem;
    margin-left: 11.3rem;
    margin-top: 4.1rem;
}
.global_button{
    margin-left: 11rem;
    margin-top: 1.5rem;
}
.service_images_right{
    width: 58.3rem;
    height: 36rem;
    display: block;
    margin-top: -35rem;
    margin-left: 64rem;
}
.service_images_left{
    width: 54rem;
    height: 31rem;
    display: block;
    margin-top: -33rem;
    margin-left: 5rem;
}
.global_text_left{
    max-width: 43.2rem;
    height: 18.9rem;
    margin-top: 2rem;
}
.global_button_left{
    margin-top: 1.5rem;
}
.global_heading_left{
    margin-top: 10rem;
}
.service_margin{
    margin-top: 10rem;
}
.main_brand{
    background-image: url(./images/Main/Rectangle\ 7\ \(3\).png);
    max-width: 100%;
    object-fit: cover;
    margin-top: 20rem;
    height: 42rem;
}
.brand_image{
    margin-left: 3rem;
    margin-top: 20rem;
}
.icon_titles{
    width: 73.8rem;
    height: 5.6rem;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin-top: 11.9rem;
    margin-left: 30rem;
}
.icon_images{
    width: 11.7rem;
    height: 10.8rem;
    margin-left: 10rem;
    margin-top: 9rem;
}
.icon_text{
    width: 8.3rem;
    height: 3.3rem;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    margin-top: 2.5rem;
    margin-left: 11rem;
}
.icon_margin{
    margin-left: 4.5rem;
}
.login_box{
    width: 69.2rem;
    height: 53rem;
    border: 1px solid #FBBA1D;
    border-radius: 42px;
    margin-top: 29rem;
    margin-left: 11.3rem;
}
.box_heading{
    height: 11.9rem;
    width: 53.7rem;
    font-weight: 600;
    font-size: 40px;
    line-height: 35px;
    color: #000000;
    margin-top: 4.6rem;
    margin-left: 7.8rem;
}
.box_text{
    height: 11.9rem;
    width: 53.7rem;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #000000;
    margin-top: -6.5rem;
    margin-left: 7.8rem;
}
.titles{
    display: block;
    font-weight: 400;
    font-size: 17px;
    color: #646464;
    line-height: 67px;
    /* margin-top: -35.7rem; */
    margin-left: 18.9rem;
}
.underlined{
    display: block;
    position: absolute;
    width: 541px;
    height: 0px;
    border: 1px solid #000000;
    margin-left: 189px;
}